footer
    .footer 
        .footer-item
            a(href="#")
                img(src="images/Logo.svg", alt="logo")
        .footer-item
            ul.footer-list
                li.footer-list_item
                    a(href="#").footer-list_link Voice over and Subtitle
                li.footer-list_item
                    a(href="#").footer-list_link Media Center
                li.footer-list_item
                    a(href="#").footer-list_link Privacy
                li.footer-list_item
                    a(href="#").footer-list_link Contact us
        .footer-item
            ul.footer-list
                li.footer-list_item
                    a(href="#").footer-list_link Voice Description
                li.footer-list_item
                    a(href="#").footer-list_link Investor Relations
                li.footer-list_item
                    a(href="#").footer-list_link Legal Provisions
        .footer-item
            ul.footer-list
                li.footer-list_item
                    a(href="#").footer-list_link Help Center
                li.footer-list_item
                    a(href="#").footer-list_link Job Opportunities
                li.footer-list_item
                    a(href="#").footer-list_link Cookies Preferences
        .footer-item
            ul.footer-list
                li.footer-list_item
                    a(href="#").footer-list_link Gift Cards
                li.footer-list_item
                    a(href="#").footer-list_link Terms of Use
                li.footer-list_item
                    a(href="#").footer-list_link Corporate Informations
                    




                    




                    



